# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
import yfinance as yf

# yf.download는 pandas.Dataframe 자료구조로 return
data = yf.download('AAPL', start='2022-01-01', end='2023-01-01')
data.head()

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2022-01-03  178.879913  179.734962  174.653874  174.771805  104487900
2022-01-04  176.609634  179.793920  176.039607  179.489254   99310400
2022-01-05  171.911850  177.071564  171.636666  176.521197   94537600
2022-01-06  169.042068  172.285320  168.688259  169.730027   96904000
2022-01-07  169.209152  171.145275  168.088758  169.916771   86709100

In [2]:
# 결측치 검사 0이 나온다면, 각 열에 결측치(NaN)가 하나도 없다
data.isnull().sum()

Price   Ticker
Close   AAPL      0
High    AAPL      0
Low     AAPL      0
Open    AAPL      0
Volume  AAPL      0
dtype: int64

In [3]:
Q1 = data[('Close', 'AAPL')].quantile(0.25)
Q3 = data[('Close', 'AAPL')].quantile(0.75)
IQR = Q3 - Q1

# 이상치 조건
# 멀티 인덱스기 때문에 data['Close']로 조건 생성 시 행이 필터 안되고 컬럼에 NaN이 생기는 문제 발생
outlier_cond = (data[('Close', 'AAPL')] < Q1 - 1.5 * IQR) | (data[('Close', 'AAPL')] > Q3 + 1.5 * IQR)

# 이상치만 보기
outliers = data[outlier_cond]
outliers

Empty DataFrame
Columns: [(Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []

In [4]:
#data[('Close', 'AAPL')]
data

# 데이터프레임의 열 이름(키) 확인
data.columns

# 데이터프레임 정보 요약 확인
data.info()

# 멀티인덱스 컬럼('AAPL', 'Close')에서 단일 레벨 컬럼('Close')으로
data.columns = data.columns.droplevel(1)

data

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-01-03 to 2022-12-30
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   251 non-null    float64
 1   (High, AAPL)    251 non-null    float64
 2   (Low, AAPL)     251 non-null    float64
 3   (Open, AAPL)    251 non-null    float64
 4   (Volume, AAPL)  251 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.8 KB

Price            Close        High         Low        Open     Volume
Date
2022-01-03  178.879913  179.734962  174.653874  174.771805  104487900
2022-01-04  176.609634  179.793920  176.039607  179.489254   99310400
2022-01-05  171.911850  177.071564  171.636666  176.521197   94537600
2022-01-06  169.042068  172.285320  168.688259  169.730027   96904000
2022-01-07  169.209152  171.145275  168.088758  169.916771   86709100
...                ...         ...         ...         ...        ...
2022-12-23  130.344498  130.898059  128.150012  129.415299   63814900
2022-12-27  128.535492  129.899636  127.240551  129.869982   69007800
2022-12-28  124.591385  129.524031  124.423341  128.179661   85438400
2022-12-29  128.120346  128.980342  126.261956  126.518963   75703700
2022-12-30  128.436661  128.456435  125.965402  126.934142   77034200

[251 rows x 5 columns]

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import (
    MaxAbsScaler,
    MinMaxScaler,
    Normalizer,
    PowerTransformer,
    QuantileTransformer,
    RobustScaler,
    StandardScaler,
    minmax_scale,
)

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from sklearn.metrics import mean_squared_error
import math

ModuleNotFoundError: No module named 'sklearn'