# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
import yfinance as yf

# yf.download는 pandas.Dataframe 자료구조로 return
data = yf.download('AAPL', start='2022-01-01', end='2023-01-01')
data.head()

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2022-01-03  178.879883  179.734931  174.653844  174.771775  104487900
2022-01-04  176.609650  179.793936  176.039622  179.489269   99310400
2022-01-05  171.911835  177.071549  171.636651  176.521181   94537600
2022-01-06  169.042084  172.285336  168.688274  169.730043   96904000
2022-01-07  169.209137  171.145259  168.088742  169.916756   86709100

In [2]:
# 결측치 검사 0이 나온다면, 각 열에 결측치(NaN)가 하나도 없다
data.isnull().sum()

Price   Ticker
Close   AAPL      0
High    AAPL      0
Low     AAPL      0
Open    AAPL      0
Volume  AAPL      0
dtype: int64

In [3]:
Q1 = data[('Close', 'AAPL')].quantile(0.25)
Q3 = data[('Close', 'AAPL')].quantile(0.75)
IQR = Q3 - Q1

# 이상치 조건
# 멀티 인덱스기 때문에 data['Close']로 조건 생성 시 행이 필터 안되고 컬럼에 NaN이 생기는 문제 발생
outlier_cond = (data[('Close', 'AAPL')] < Q1 - 1.5 * IQR) | (data[('Close', 'AAPL')] > Q3 + 1.5 * IQR)

# 이상치만 보기
outliers = data[outlier_cond]
outliers

Empty DataFrame
Columns: [(Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []